# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Ignore large model/data files (IMPORTANT)
similarity.pkl

# Optional: ignore all pickle files except required ones
# *.pkl
# !movies.pkl
# !movies_dict.pkl